@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button-dark {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-0 font-medium rounded-lg text-sm px-5 py-2.5;
  }

  .button-icon {
    @apply flex items-center justify-center;
  }
}
